{% extends "base.html" %}
{% block content%}
<div class="container px-5">
  <div class="row py-5">
    <div class="col-md-3 offset-md-4 shadow rounded py-4">
      <h4>Create your account</h4>
      <form method="POST">
        <div class="form-group row">
          <div class="col-sm-10">
            <label class="sr-only" for="inputEmail">Email address</label>
            <input type="text" class="form-control my-1" id="inputEmail" name="inputEmail" placeholder="Email address">
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-10">
            <input type="text" class="form-control my-1" id="inputUsername" name="inputUsername" placeholder="Username">
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-10">
            <input type="password" id="inputPassword" name="inputPassword" class="form-control my-1"
              aria-describedby="passwordHelpInline" placeholder="Password">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-auto my-1">
            <button type="submit" class="btn btn-dark">Sign Up</button>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>


{%endblock%}